<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/todo-list.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> To-Do List </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>To-Do List built with HTML5, CSS3 &amp; JS.</p>
    <div class="small-skill">
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Javascript</li>
        <li>DOM Manipulation</li>
      </ul>
    </div>
    <div class="links">
      <a class="project-link" href="#">Check it out</a>
      <a class="project-link" href="">View Source</a>
    </div>
  </div>
</div>
